# Telegram Bot Settings
BOT_TOKEN="110201544:AAHdqTcvCH1vGWJxfSeofSAs0K5PALDsaw"
SUPPORT_URL="https://example.com/"
RATE_LIMIT=0.5
DEBUG=False
# Webhook Server Settings (Optional)
USE_WEBHOOK=False
WEBHOOK_HOST="0.0.0.0"  # use "localhost" if not using Docker
WEBHOOK_PORT=8080
WEBHOOK_BASE_URL="https://example.com"
WEBHOOK_PATH="/webhook"
WEBHOOK_SECRET="Pl7U9AJUFb2"

# Admin Panel Settings
ADMIN_HOST="0.0.0.0"    # use "localhost" if not using Docker
ADMIN_PORT=5000
DEFAULT_ADMIN_EMAIL="admin@example.com"
DEFAULT_ADMIN_PASSWORD="admin"
SECURITY_PASSWORD_HASH="pbkdf2_sha512"
SECURITY_PASSWORD_SALT="ATGUOHAELKiubahiughaerGOJAEGj"

# Database Settings
DB_HOST="pgbouncer"     # use "localhost" if not using Docker
DB_PORT=5432
DB_USER="tgbot"
DB_PASS="OGU6P2TNUEwxekD0OHe7"
DB_NAME="bot_db"

# Redis (for FSM and Cache) Settings
REDIS_HOST="redis"      # use "localhost" if not using Docker
REDIS_PORT=6379
REDIS_PASS=

# External Services Settings (API Keys for example)
SENTRY_DSN=""
AMPLITUDE_API_KEY=""
POSTHOG_API_KEY=""

# Performance Monitoring System Settings
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"
