[tool.poetry]
name = "telegram-bot-template"
version = "0.1.0"
description = "Template for telegram bot"
authors = ["DONSIMON92 <semenische@yandex.com>"]
license = "MIT License"

[tool.poetry.dependencies]
python = "^3.7"
aiogram = "^2.15"
asyncpg = "^0.24.0"
aioredis = "^2.0.0"
loguru = "^0.5.3"
uvloop = "^0.16.0"
python-dotenv = "^0.19.1"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
flake8-bugbear = "^21.9.2"
flake8-polyfill = "^1.0.2"
flake8-quotes = "^3.3.1"
flake8-variables-names = "^0.0.4"
flake8-black = "^0.2.3"
flake8-isort = "^4.1.1"
pyflakes = "^2.4.0"
pep8-naming = "^0.12.1"
black = "^21.9b0"
isort = "^5.9.3"
mypy = "^0.910"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
