{% extends 'admin/master.html' %} {% block body %} {{ super() }} {% if
current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{ order_count }}</h3>
          <p>Orders Count</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{{ 'orders' }}" class="small-box-footer"
          >More info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer"
          >More info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{ new_user_count }}</h3>

          <p>New users per day</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a
          href="{{ 'users/?flt2_10=' ~ period_start.strftime('%Y-%m-%d+%H:%M:%S') }}"
          class="small-box-footer"
          >More info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{ user_count }}</h3>

          <p>Unique users</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="{{ 'users' }}" class="small-box-footer"
          >More info <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
          <li class="active">
            <a href="#revenue-chart" data-toggle="tab">Area</a>
          </li>
          <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
          <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
        </ul>
        <div class="tab-content no-padding">
          <!-- Morris chart - Sales -->
          <div
            class="chart tab-pane active"
            id="revenue-chart"
            style="position: relative; height: 300px"
          ></div>
          <div
            class="chart tab-pane"
            id="sales-chart"
            style="position: relative; height: 300px"
          ></div>
        </div>
      </div>
      <!-- /.nav-tabs-custom -->
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">
      <!-- Map box -->
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <!-- tools box -->
          <div class="pull-right box-tools">
            <button
              type="button"
              class="btn btn-primary btn-sm daterange pull-right"
              data-toggle="tooltip"
              title="Date range"
            >
              <i class="fa fa-calendar"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary btn-sm pull-right"
              data-widget="collapse"
              data-toggle="tooltip"
              title="Collapse"
              style="margin-right: 5px"
            >
              <i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /. tools -->

          <i class="fa fa-map-marker"></i>

          <h3 class="box-title">Visitors</h3>
        </div>
        <div class="box-body">
          <div id="world-map" style="height: 250px; width: 100%"></div>
        </div>
        <!-- /.box-body-->
        <div class="box-footer no-border">
          <div class="row">
            <div
              class="col-xs-4 text-center"
              style="border-right: 1px solid #f4f4f4"
            >
              <div id="sparkline-1"></div>
              <div class="knob-label">Visitors</div>
            </div>
            <!-- ./col -->
            <div
              class="col-xs-4 text-center"
              style="border-right: 1px solid #f4f4f4"
            >
              <div id="sparkline-2"></div>
              <div class="knob-label">Online</div>
            </div>
            <!-- ./col -->
            <div class="col-xs-4 text-center">
              <div id="sparkline-3"></div>
              <div class="knob-label">Exists</div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->
    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
</section>
<!-- /.content -->
{% else %} {% if not current_user.is_authenticated %}
<br /><br /><br /><br /><br /><br />
<section
  class="content d-flex align-items-center justify-content-center"
  style="color: white"
>
  <div class="col-sm-12 text-center">
    <h1>Telegram Bot Admin Panel</h1>
    <p class="lead">Authentication</p>
    <p>
      This is an admin panel created for managing users, moderating and viewing
      telegram bot analytics. <br />
      If you have not yet changed the standard email/password for the first
      <br />
      superuser and/or this is your first authorization, you can log in under
      it.
    </p>
    <p>
      You can register as a regular user, or log in as a superuser with the
      following credentials: <br /><br />

      email: <b>admin@example.com</b> <br />
      password: <b>admin</b> <br />
      <br />
    </p>

    <p>
      <a class="btn btn-primary" href="{{ url_for('security.login') }}"
        >Login</a
      >
      <a class="btn btn-default" href="{{ url_for('security.register') }}"
        >Register</a
      >
    </p>
  </div>
</section>
{% endif %} {% endif %} {% endblock body %}
